@import "public.css";

.parallax-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: url('../images/galaxy.jpg') repeat-y 0 0;
    background-size: 100% auto;
}

.l-hd {
    padding: 10px 30px;

    h1, li {
        float: left;
    }
    h1 {
        font-size: 22px;
        font-weight: bolder;
        line-height: 80px;
        color: #333;
    }
    ul {
        float: right;
        margin-right: -15px;

        a {
            font-size: 18px;
            line-height: 80px;
            margin: 0 15px;

            &:hover {
                color: #1ab1a8;
            }
        }
    }
}

.m-logo {
    width: 250px;
    height: 250px;
    margin: 0 auto;

    svg {
        border-radius: 50%;
        overflow: hidden;

        image {
            width: 400px;
            height: 400px;
        }
        path {
            fill: none;
            stroke: #fff;
            stroke-width: 80;
            stroke-dasharray: 12588;
        }
    }
}

.intro {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333;
    padding: 30px;
}