@charset "utf-8";

/* common */
body{margin: 0;text-align: left;font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", Arial, Verdana;}

div, dl, dt,td, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, Form, Select{list-style: none;margin: 0;padding: 0;}
input, textarea{resize: none;outline: none;border: 0;}
div, h1, h2, p, Table, Tr, Td{word-wrap: break-word;word-break: break-all;}
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var{font-style: normal;}
ul li{vertical-align: top;}

a{color: #327bb9;text-decoration: none;}
a:focus{outline: 0;}
a:link, a:visited{text-decoration: none;vertical-align: baseline;word-break: break-all;outline: none;}
a:hover, a:active{text-decoration: none;vertical-align: baseline;word-break: break-all;}
a:hover span{cursor: pointer;text-decoration: none;}

/* clear float */
.c-fix:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.c-fix{zoom: 1;display: block;}

/* layer mask */
.c-mask{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);display: none;}

/* center */
.c-center{top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}

/* img 100% */
.c-img100{float: left;width: 100%;}

/* ellipsis */
.ellipsis-row1{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ellipsis-row2{overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.ellipsis-row3{overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;display: -webkit-box;}

/* vertical middle */
.vertical-middle{display: inline-block;vertical-align: middle;}
