<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>Creation Space</title>
    <link rel="stylesheet/less" href="../static/css/style.less" />
</head>
<body>
    <div class="parallax-bar js_bar"></div>
    <div class="l-hd c-fix">
        <h1><img src="../static/images/galaxy.jpg" /><span>Creation Space</span></h1>
        <ul>
            <li><a href="javascript:;">works</a></li>
            <li><a href="javascript:;">github</a></li>
            <li><a href="javascript:;">about</a></li>
        </ul>
    </div>
    <script src="../static/js/libs/jquery.min.js"></script>
    <script src="../static/js/libs/less.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>