<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>Creation Space</title>
    <link rel="stylesheet/less" href="../static/css/style.less" />
</head>
<body>
    <div class="l-hd">
        <div class="bar js_bar"></div>
        <div class="m-nav c-fix">
            <h1>Creation Space</h1>
            <ul>
                <li><a href="#section-works">works</a></li>
                <li><a href="javascript:;">github</a></li>
                <li><a href="#section-about">about</a></li>
            </ul>
            <div class="c-vertical js_toggle_menu">
                <div class="btn-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="m-menu js_menu">
            <ul>
                <li><a href="#section-works">works</a></li>
                <li><a href="javascript:;">github</a></li>
                <li><a href="#section-about">about</a></li>
            </ul>
        </div>
    </div>

    <div class="l-mn">
        <section>
            <div class="m-logo">
                <svg viewBox="250 0 400 400">
                    <defs>
                        <mask id="mask">
                            <path id="path" d="M-62.12 96.97C21.545-2.364 301.666-114.667 140 7.333c-161.667 122-309.697 403.273-116.667 208C131.47 105.94 355.333-149.333 245 20S-155.304 487.18 38 332.667C234 176 458.667-194 356 25 253.333 244-173.553 600.852 100.667 388.667 360 188 468.667-109.333 448 14 427.333 137.333-1.333 597.333 234 380 469.333 162.667 576-136 526 18S182 558.667 336 386C490 213.333 646.667-160.667 599 11c-47.667 171.667-271.333 494-179 387C512.333 291 717.333-142 663 9c-54.333 151-263 561-151 379S754-128.667 723 12c-31 140.667-226.333 482-132 371S812.667-160.667 783 12c-29.667 172.667-193 479.333-123 366C730 264.667 870.667-142 831 8S674 501.667 722.667 420.667c48.666-81 208.666-666 185.333-408.667S704.394 593.788 806.06 428.788C907.728 263.788 989.334-176.667 947 66c-42.333 242.667-84.698 474.253-48.333 382.667 40.91-103.03 122.545-291.09 122.545-291.09" />
                        </mask>
                    </defs>
                    <g mask="url(#mask)">
                        <image x="250" y="0" xlink:href="../static/images/logo.jpg" />
                    </g>
                    <animate xlink:href="#path" attributeName="stroke-dashoffset" from="12588" to="0" dur="3s" />
                </svg>
            </div>
            <div class="intro js_intro">Hi, my friend! My name is Martin. I’m a Designer, Code Lover and Lifelong-learner</div>
            <div class="arrow-up c-horizontal js_arrow_up">
                <div><span></span><span></span></div>
            </div>
        </section>

        <section id="section-works">
            <div class="title">My Works</div>
            <div class="desc">Design changed my life, after graduated from university, I began learning design. I crafting some kinetic things & making design interactivly.</div>
            <div class="m-works">
                <ul class="c-fix">
                    <li>
                        <a href="javascript:;"><img src="../static/images/logo.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="../static/images/logo.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="../static/images/logo.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="../static/images/logo.jpg" /></a>
                    </li>
                </ul>
            </div>
        </section>

        <section id="section-about">
            <div class="title">About Me</div>
            <div class="desc">I’m keen on writing, translating & reading, it’s a good habbit of learning. Work hard, think crazy, then write them down.</div>
        </section>
    </div>

    <div class="l-ft">
        <div>Touch with me through</div>
        <ul>
            <li><a href="javascript:;">Tel: 18500041312</a></li>
            <li><a href="javascript:;">Email: 493108053@qq.com</a></li>
            <li><a href="javascript:;">Github: https://github.com/sunmengyuan</a></li>
        </ul>
    </div>

    <script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="http://cdn.bootcss.com/less.js/2.7.1/less.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>